<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div class="body-section">
  <div class="container">
    <div class="row">
      <h1>Manage Lockables</h1>
    </div>
    <div id="search-filters" class="row">
      <div class="col">
        <label for="search-filter-created-after">
          Created after
        </label>
        <input type="date" placeholder="Created after" id="search-filter-created-after">
      </div>
      <div class="col">
          <label for="search-filter-created-before">
            Created before
          </label>
          <input type="date" placeholder="Created before" id="search-filter-created-before">
      </div>
      <div class="col">
        <label for="search-filter-has-locks">
          <input type="checkbox" id="search-filter-has-locks">
          <span>Has locks</span>
        </label>
      </div>
      <div class="col">
        <label for="search-filter-only-readonly">
          <input type="checkbox" id="search-filter-only-readonly">
          <span>Has only readonly locks</span>
        </label>
      </div>
      <div class="col">
        <label for="search-lockables">
          Search for Lockables
        </label>
        <button type="button" id="search-lockables">
          Search
        </button>
      </div>
    </div>
    <div>
      <label for="create-lockable">
        Create
      </label>
      <button type="button" id="create-lockable">
        Create
      </button>
    </div>
    <div>
      <label for="delete-selected-lockables">
        Delete
      </label>
      <button type="button" id="delete-selected-lockables">
        Delete
      </button>
    </div>
  </div>
</div>